@model IEnumerable<ViewOrderViewModel>;

@{
    ViewData["Title"] = "Orders";
    Layout = "_SectionLayout";
}

<table class="table">
    <thead>
        <tr>
            <th>OrderId</th>
            <th>VehicleModel</th>
            <th>ComponentName</th>
            <th>Quantity</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var m in Model)
        {
            <tr>
                <td>@m.OrderId</td>
                <td>@m.VehicleModel</td>
                <td>@m.ComponentName</td>
                <td>@m.Quantity</td>
                <td>@m.Date.ToShortDateString()</td>
                <td>
                    <a class="table-delete" asp-controller="Order" asp-action="Delete" asp-route-id="@m.OrderId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
