@model IEnumerable<autopark.DAL.Entities.VehicleType>

@{
    ViewData["Title"] = "Test";
    Layout = "_SectionLayout";
}

<table class="table">
    <thead>
    <td>Id</td> 
    <td>Name</td>
    <td>Tax</td>
    </thead>
    <tbody>
        @foreach (var m in Model)
        {
            <tr>
                <td>@m.VehicleTypeId</td>
                <td>@m.Name</td>
                <td>@m.TaxCoefficient</td>
                <td>
                    <a class="table-delete" asp-controller="VehicleType" asp-action="Delete" asp-route-id="@m.VehicleTypeId">Delete</a>
                    <a class="table-delete" asp-controller="VehicleType" asp-action="Update" asp-route-id="@m.VehicleTypeId">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>

